@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: rgba(133, 190, 184, 0.3);
}

.list {
    border-radius: 5px;
    align-items: center;
    background-color: rgb(133, 190, 184);
}

.list-item {       
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}