@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

.svg {
  position: fixed;
  top: 25px;
  right: 25px;
}

.svg.active {
  fill: #FFF;
}

.navbar {
  width: 636px;
  margin: 32px 0;
}

.link-wrapper {
  display: inline-block;
  margin-right: 72px;
}

.link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #FF0000;
  text-decoration: none;
}

.link-wrapper:nth-child(3) {
  margin-right: 50px;
}

.link-wrapper:last-child {
  margin-right: 0;
}

.background {
  width: 100%;
  height: 789px;
  background-image: url(../img/image_1.png);
  background-color: #722f2f;
  background-size: cover;
  background-position: center;
}

.text-section {
  width: 100%;
  padding: 48px 68px 42px;
  text-align: center;
}

.main-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 38px;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px; 
  color: #373737;
  margin-bottom: 28px;
}

.button {
  border: none;
  background: #FF0000;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 18px 43px;
  margin-top: 66px;
}

.footer-section {
  padding: 40px 105px;
}

.footer-text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: end;
}






